*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}
.encabezado {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F5E6D3;

}
.logo{
    width: 80px;
    height: auto;
    display: block;
    justify-content: start;
    padding: 10px;
    margin-left: 50px;
}

.navegacion {
    border: 1px solid black;

}

.navegacion-lista{
    display: flex;
    border: 1px solid black;
    list-style: none;
    padding: 10px;
    gap: 5px;
}

.navegacion-lista li {
    border: 1px solid black;
    padding: 5px;
}


main{
    display: flex; /*No va a hacer nada porque solo hay un div dentro*/
    justify-content: center;

    flex-direction: column;
    align-items: center;
}


.contenedor-producto{
    padding: 50px;
    /* border: 1px solid black; */
    background: linear-gradient(0deg, #da8d69 , #A0522D);
    display: flex;  
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    height: auto;
}

.imagen-producto {
    /* border: 1px solid rgb(255, 9, 9); */
    width: 60%;
    box-shadow: 0px 4px 15px rgba(49, 49, 49, 0.3);
    border-radius: 10px;
}

img{
    width: 100%;
    /* box-shadow: 0px 4px 15px rgba(0,0,0,0.3); */
    filter: box-shadow(0px 5px 5px rgba(0,0,0,0.5));
    height: auto;
}


.producto{
    /* border: 1px solid black; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */ /*Pone muy separados los elementos uso gap*/
    gap: 60px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    height: auto;
    color:#F5E6D3;
}


.nombre-producto{
    font-size: 2em;
}

.descripcion-producto{
    font-size: 1.5em;
}

.nombre-y-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    /* border: 1px solid black; */
    height:auto;
    gap:20px;
    padding-top: 40px;
}

.precio{
    font-size: 3em;
}

.carrito {
    cursor: pointer;
}

.precio-y-carrito{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.opciones-pago {
    font-size: 0.9em;
    color: #ffe7c6;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 7%;
}
.descripcion-texto{
    width: 85%;
    font-size: 1.5rem;

}

.caracteristicas-prodcuto{
    /* border: 1px solid black; */
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:#A0522D;
    
}




.pie-de-pagina{
    border: 1px solid black;
}